.wrapper{
    display: flex;
    flex-flow: wrap row;
    text-align: center;
    background: lightcyan;
    color: white;
    font-size: 30px;
}

.wrapper *{
    padding: 40px;
    margin: 10px;
}

.header{
    background: lightseagreen;
    flex-basis: 100%;
}


.aside{
    background: lightgreen;
    flex: 1;
    padding: 300px 100px 100px 100px;

}

.column-1{
    flex: 7;
    display: flex;
    flex-direction: column;
    flex-flow: wrap row;
    align-items: flex-end;
    background: orange;
    padding: 200px 10px 10px 10px;
}



.heading{
    flex-basis: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    text-align: none;
}

.img_1{
    flex: 1;
    margin: 10px;
    border: 0;
    padding: 0;
    text-align: none;
}

.footer{
    background: lightseagreen;
    flex-basis: 100%;
} 


    
   