.slider-input {
    margin-top: 10px;
    min-height: 25px;
    min-width: 150px;
    font-weight: 600;
  }

  h1 {
    text-align: center;
  }

  .comp {
    display: flex;
    column-gap: 30px;
    font-size: 20px;
    font-weight: 600;
    color: brown;
  }
  