*{
    margin: 0;
    padding: 0;
    
}

.contaier{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(30deg, #FFCC33, #7BB662);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}



