* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    height: 100wh;
    width: 100vw;
    padding: 0;
  }

header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    background: #009b9e;
  }
  
  header h1 {
    margin: 0;
    color: white;
    font-size: 2rem;
  }


  #entry-text {
    width: 40rem;
    margin: 2rem auto;
    max-width: 80%;
    padding: 1rem;
  }

  label {
    font-weight: bold;
    margin: 0.5rem 0;
    color: #464646;
    width: 80%;
  }
  
  input {
    font: inherit;
    border: 1px solid #ccc;
    padding: 0.4rem 0.2rem;
    color: #383838;
    width: 95%;
    box-sizing: border-box;
  }
  
  input:focus {
    outline: none;
    background: #fff1c4;
  }

.btn{
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #009b9e;
    background: #009b9e;
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    margin: 0 0.5rem;
    width: 100px;
  }

  .clear{
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #009b9e;
    background: #009b9e;
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    margin: 0 0.5rem;
    width: 100px;
  }

 .eligible {
  width: 100px;
  display: none;
 }

 .eligible-display,.not-eligible-display{
  display: block;
 }

  .btn:hover,
  .btn:active {
    background: #f67722;
    border-color: #f67722;
  }

  .modal .modal__actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  .modal {
    position: fixed;
    background: white;
    border-radius: 10px;
    width: 30%;
    top: 30vh;
    left: 30%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  .modal .modal__content {
    padding: 1rem;
  }
  
  .modal .modal__actions {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 95%;
    justify-content: space-between;
  }
  #add-modal{
    width: 35%;
  }

  #add-modal .modal__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media (max-width: 768px) {
    .modal {
      width: 100%;
      left: calc(50% - 20rem);
    }
    #add-modal{
      width: 80%;
    }
    .modal {
      position: fixed;
      background: white;
      border-radius: 10px;
      width: 30%;
      top: 30vh;
      left: 10%;
      box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
  }
  .eligible {
    width: 100px;
    height: 30px;
    margin-left: 35%;
    display: none;
   }
  }