* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: 50px;
    position: relative;
}
.main{
    width: 100%;
    height: calc(100vh - 50px);
}
.header{
    width: 100%;
    height: 50px;
    background: rgb(84, 84, 178);
    color: white;
    display: flex;
}
.title{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    padding-left: 20px;
}

.cart{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cart .img-cart{
    width: 40px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid white;
    border-radius: 8px;
    z-index: 1;
}

.cart .img-cart:hover{
    font-size: 20px;
    font-weight: 400;
    border: 2px solid rgb(84, 84, 178);
    color: rgb(84, 84, 178);
    background-color: white;
    border-radius: 8px;
}

.item_count{
 width: 30px;
 height: 30px;
 position: absolute;
 left: 115px;
 top: 3px;
 background-color: red;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.hidden {
    display: none;
}

/*Display Cart*/

.display_cart{
    width: 350px;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    transform: translateX(100%);
    transition: ease-in-out;
    z-index: 3;
    box-shadow: 0 4px 6px rgb(84, 84, 178);
    display: flex;
    flex-direction: column;
}

.display_cart h2{
    width: 100%;
    height: 50px;
}
.display_cart .close{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 17px;
}

.display_cart .close:hover{
    background-color: rgba(84, 84, 178,0.8);
}

.display_cart .close:before{
    content: "";
    width: 2px;
    height: 15px;
    position: absolute;
    right: 16px;
    top: 10px;
    background: black;
    transform: rotate(45deg)
}

.display_cart .close:after{
    content: "";
    width: 2px;
    height: 15px;
    position: absolute;
    right: 16px;
    top: 10px;
    background: black;
    transform: rotate(-45deg)
}

.display_cart .book_details{
    width: 100%;
}
.display_cart .book_details .book_list{
    width: 100%;
}

/*main-book*/
.book_container{
    min-width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book_container ul{
    width: 80%;
    padding: 20px;
    border: 1px solid rgba(84, 84, 178,0.5);
    box-shadow: 2px 5px 7px rgba(84, 84, 178,0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 10px;
}
.book_container ul li{
    min-width: 30%;
    padding: 15px;
    border: 1px solid rgba(84, 84, 178,0.5);
    border-radius: 10px;
    position: relative;
  
}
.book_container ul li .b_image{
    width: 100%;
    display: flex;
    justify-content: center;
}
.book_container ul li .b_image img{
    width: 100px;
    height: 130px;
    border: 3px solid rgba(84, 84, 178,0.5);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}
.book_container ul li .b_details{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.book_container ul li .b_details .b_title,
.book_container ul li .b_details .b_author,
.book_container ul li .b_details p{
    width: 100%;
}
.book_container ul li .b_details p:last-child span:last-child{
    width: 80px;
    position: absolute;
    right: 75px;
    bottom: 100px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid red;
    background: red;
    color: white;
    font-weight: 600;
    transform: rotate(-35deg);
}

.b_addcart{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: green;
    color: white;
    font-size: 25px;
    font-weight: 600;
    border-radius: 1px;
}