:root{
    --bg:black;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
/*Header Part*/

.header{
    margin: 0 auto;
    height: 50px;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 2000;
}
.head-wrap{
    height: 50px;
    width: 100%;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: relative;
}
.logo_image, .social_image{
    display: flex;
}

@media(max-width:1139px){
    .logo_image .navbar{
        display: none;
    }
}

.logo_image{
    align-items: center;
}

.navbar{
    position: absolute;
    left: 15%;
}

.navbar a{
    color: white;
    padding: 8px 14px;

}
.social_image{
    width: 600px;
    justify-content: space-between;
    padding: 8px 14px;
    align-items: center;
}

#dot1{
    width: 84px;
    height: 83px;
    background: url(sprite_image.png) no-repeat;
    background-position: -300px -197px;
    zoom: 0.15;
    cursor: pointer;
}

#dot2{
    width: 82px;
    height: 84px;
    background: url(sprite_image.png) no-repeat;
    background-position: -397px -195px;
    zoom: 0.15;
    cursor: pointer;
}


#web_name{
    width: 306px;
    height: 100px;
    background: url(sprite_image.png) no-repeat;
    background-position: 0px -464px;
    zoom: 0.25;
    cursor: pointer;
}

#web_name:hover,#dot1:hover,#dot2:hover,#upload_image:hover,#bell_image:hover,.social_image img:hover{
    opacity: 0.7;
}

#upload_image{
    width: 62px;
    height: 42px;
    background: url(sprite_image.png) no-repeat;
    background-position: -824px -895px;
    zoom: 0.5;
    cursor: pointer;
}

#bell_image{
    width: 43px;
    height: 45px;
    background: url(sprite_image.png) no-repeat;
    background-position: -992px -841px;
    zoom: 0.5;
    cursor: pointer;
}

.social_image img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    cursor: pointer;
}


#search_icon{
    width: 37px;
    height: 37px;
    background: url(sprite_image.png) no-repeat;
    background-position: -636px -468px;
    zoom: 0.5;
}


.search-box{
    height: 30px;
    width: 400px;
    position: relative;
}

.input-search{
    height: 30px;
    width: 250px;
    border-style: none;
    padding-left: 50px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .5s ease-in-out;
    background: rgb(206, 205, 205);
}

.btn-search{
    width: 30px;
    height: 30px;
    border-style: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 160px;
    z-index: 1;
    transition: all .5s ease-in-out;
    background: rgb(206, 205, 205);
}

.btn-search:focus ~ .input-search{
    width: 400px;
    background-color: white;
    margin-left: 60px;
    
}


.btn-search:focus{
    left: 10px;
    background-color: white;
}

/*drop down list for profile pic*/

.action{
    position: relative;

}
.action .menu{
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    background: white;
    width: 350px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid black;
    visibility: hidden;
    opacity: 0;
}

.action .menu::before{
    content: '';
    position: absolute;
    top: -9px;
    right: 28px;
    width: 15px;
    height: 15px;
    background: #fff;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-left: 1px solid black;

}
.action .menu h3{
    width: 100%;
    font-size: 20px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
}

.action .menu h3 span{
    font-size: 18px;
    color: #cecece;
    font-weight: 400;
}

.action .menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;    
}

.action .menu ul li img{
    max-width: 20px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu ul li:hover img{
    opacity: 1;
}


/*Navbar first*/

.navbar_sec{
    display: block;
    position: relative;
    top: 50px;
    height: 50px;
    width: 100vw;
}

.navbar_sec .list{
    margin-left: 120px;
    margin-right: 120px;
    height: 50px;
    width: 86%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(138, 138, 138, 0.3);   
}

.list ul{
    height: 47px;
    display: flex;
    align-items: center;
    height: 49px;
    
}
.list ul .selected-link{
    margin: 0 5px;
    border-bottom: 3px solid rgb(0,145,220);
    color: black;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    
}

.list ul .second-link{
    margin: 0 5px;
    color: black;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    list-style: none;
    transition: linear .1s;
    
}

.list ul .second-link:hover{
    border-bottom: 3px solid rgb(0,145,220);
    opacity: 0.9;
}

.list ul .third-link{
    margin: 0 5px;
    color: black;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    list-style: none;
    transition: linear .1s;
}

.list ul .third-link:hover{
    border-bottom: 3px solid rgb(0,145,220);
    opacity: 0.9;
}
/*Color Panel*/

.color-panel{
    height: 47px;
    width: 100vw;
    display: flex;
    position: relative;
    top: 50px;
    border-bottom: 1px solid rgba(138, 138, 138, 0.3);
}

.color-box{
    height: 43px;
    width: 95%;
    display: flex;
    margin: 0 130px;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
}
.color-container{
    height: 40px;
    width: 40%;
    display: flex;
}
.color-list{
    margin: 5px;
    height: 40px;
    width: 70%;
    display: flex;
    position: relative;
}
.color-list .col-list-con{
    margin: 10px 0;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
}

.color-list .col-list-con ul{
    display: flex;
    column-gap: 4px;
    row-gap: 4px;
}

.color-list .col-list-con ul li{
    height: 20px;
    width: 20px;
    list-style: none;
    border: 1px solid;
    border-radius: 3px;
    position: relative;
}
#tooltip-text{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    white-space: nowrap;
    padding: 8px 5px;
    border-radius: 2px;
    font-size: 13px;
    border: 1px solid rgba(138, 138, 138, 0.5);
    box-shadow: 1px 1px 2px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
}
#tooltip-text::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 40%;
    width: 8px;
    height: 8px;
    background: #fff;
    transform: rotate(45deg);
    border-top: 1px solid rgba(138, 138, 138, 0.5);
    border-left: 1px solid rgba(138, 138, 138, 0.5);
    opacity: 0.8;
}
.col-list-con ul li:hover #tooltip-text{
    top: 180%;
    visibility: visible;
    opacity: 0.7;
}

.color-list .col-list-con ul li.red{
    background: red;
    border-color: red;
}
.color-list .col-list-con ul li.dark-orange{
    background: darkorange;
    border-color: darkorange;
}
.color-list .col-list-con ul li.orange{
    background: orange;
    border-color: orange;
}
.color-list .col-list-con ul li.pale-pink{
    background: rgb(255, 151, 168);
    border-color: rgb(255, 151, 168);
}
.color-list .col-list-con ul li.lemon-yellow{
    background: yellow;
    border-color: yellow;
}
.color-list .col-list-con ul li.school-bus-yellow{
    background: rgb(221, 174, 4);
    border-color: rgb(221, 174, 4);
}
.color-list .col-list-con ul li.green{
    background: lightgreen;
    border-color: lightgreen;
}
.color-list .col-list-con ul li.dark-lime-green{
    background: green;
    border-color: green;
}
.color-list .col-list-con ul li.cyan{
    background: cyan;
    border-color: cyan;
}
.color-list .col-list-con ul li.blue{
    background: blue;
    border-color: blue;
}
.color-list .col-list-con ul li.violet{
    background: violet;
    border-color: violet;
}
.color-list .col-list-con ul li.pink{
    background: pink;
    border-color: pink;
}
.color-list .col-list-con ul li.white{
    background: white;
    border-color: black;
}
.color-list .col-list-con ul li.gray{
    background: gray;
    border-color: gray;
}
.color-list .col-list-con ul li.black{
    background: black;
    border-color: black;
}


.color-display{
    margin: 5px;
    height: 40px;
    width: 40%;
    display: flex;
    position: relative;
}

.color-display .display-image{
    margin: 10px 20px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
}

.color-display .display-image div{
    margin-right: 10px;
    column-gap: 4px;
    row-gap: 4px;
}


#black-white{
    width: 63px;
    height: 43px;
    background: url(sprite_image.png) no-repeat;
    background-position: -760px -894px;
    zoom: 0.5;
}

#color-dot{
    width: 65px;
    height: 43px;
    background: url(sprite_image.png) no-repeat;
    background-position: -564px -895px;
    zoom: 0.5;
}

#color-grid{
    width: 65px;
    height: 43px;
    background: url(sprite_image.png) no-repeat;
    background-position: -629px -895px;
    zoom: 0.5;
}

#color-grid2{
    width: 65px;
    height: 42px;
    background: url(sprite_image.png) no-repeat;
    background-position: -695px -895px;
    zoom: 0.5;
}

.color-display .display-image div{
        position: relative;
}

#tooltip-text-pat{
    position: absolute;
    overflow: hidden;
    z-index: 999;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    white-space: nowrap;
    padding: 8px 5px;
    border-radius: 2px;
    font-size: 25px;
    border: 1px solid rgba(138, 138, 138, 0.5);
    box-shadow: 1px 1px 2px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
    
}
#tooltip-text-pat::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 40%;
    width: 8px;
    height: 8px;
    background: #fff;
    transform: rotate(45deg);
    border-top: 1px solid rgba(138, 138, 138, 0.5);
    border-left: 1px solid rgba(138, 138, 138, 0.5);
    opacity: 0.8;

}

.color-display .display-image div:hover #tooltip-text-pat{
    top: 180%;
    visibility: visible;
    opacity: 0.5;
}


/*Advanced part*/

.color-box .advanced{
    margin: 12px 0;
    position: absolute;
    right: 0;
    
}

.color-box .advanced .adv-text{
    font-size: 14px;
    opacity: 0.5;
}

#adv-img{
    width: 42px;
    height: 33px;
    background: url(sprite_image.png) no-repeat;
    background-position: -809px -633px;
    zoom: 0.5;

}

.color-box .advanced .adv-collection{
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    cursor: pointer;
    position: relative;
}

#tooltip-text-adv{
position: absolute;
left: 90%;
top: 0;
transform: translateX(-50%);
background-color: #000;
color: #fff;
white-space: nowrap;
padding: 8px 5px;
border-radius: 2px;
font-size: 15px;
border: 1px solid rgba(138, 138, 138, 0.5);
box-shadow: 1px 1px 2px;
opacity: 0;
visibility: hidden;
transition: opacity 0.4s ease;
z-index: 22;
}


.color-box .advanced .adv-collection .adv-text:hover #tooltip-text-adv{
top: 180%;
visibility: visible;
opacity: 1;

}

#tooltip-text-adv-img{
    position: absolute;
    left: 90%;
    top: 0;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    white-space: nowrap;
    padding: 15px 15px;
    border-radius: 2px;
    font-size: 30px;
    border: 1px solid rgba(138, 138, 138, 0.5);
    box-shadow: 1px 1px 2px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
    z-index: 22;
    }
    
    
    .color-box .advanced .adv-collection #adv-img:hover #tooltip-text-adv-img{
    top: 180%;
    visibility: visible;
    opacity: 1;
    }

    /*main content*/

    .main-content{
        height: 100em;
        width: 100%;
        position: relative;
        top: 50px;
        background: rgb(238, 237, 237);
    }

    .main-content .main-container{
        height: 100rem;
        width: 85%;
        margin-left: 135px;
        margin-right: 160px;
        z-index: -1;
    }
    /*Main Left*/
    .main-content .main-container .main-content-left{
        height: 100rem;
        width: 80%;
        z-index: -1;
    }

    .main-content .main-container .main-content-left .head1{
        height: 50px;
        width: 100%;
        display: flex;
    }

    .main-content .main-container .main-content-left .head1 .head1-left{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
    }
    .main-content .main-container .main-content-left .head1 .head1-left .head1-left-container{
        height: 24px;
        width: 100%;
        display: flex;

    }

    .main-content .main-container .main-content-left .head1 .head1-left .head1-left-container .left-content1{
        height: 24px;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 15px;
        opacity: 0.5;
        cursor: pointer;

    }

    .main-content .main-container .main-content-left .head1 .head1-left .head1-left-container .left-content1 .right-text{
        padding-left: 35px;
    }

    #small-tri{
        width: 18px;
        height: 13px;
        background: url(sprite_image.png) no-repeat;
        background-position: -1054px -212px;
        zoom: 0.5;
    }

    /*head1 right*/
    .main-content .main-container .main-content-left .head1 .head1-right{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
    }

    .main-content .main-container .main-content-left .head1 .head1-right .head1-right-container{
        height: 24px;
        width: 100%;
        display: flex;
    }

    .main-content .main-container .main-content-left .head1 .head1-right .head1-right-container .right-content1{
        height: 24px;
        width: 100%;
        display: flex;
        font-size: 15px;
        opacity: 0.5;
        justify-content: right;
        align-items: center;
        cursor: pointer;

    }

    .main-content .main-container .main-content-left .head1 .head1-right .head1-right-container .right-content1 .right1-text{
        padding-left: 35px;
    }

    .main-content .main-container .main-content-left .head1 .head1-right .head1-right-container .right-content1 #small-tri{
        padding-right: 55px;
    }

   

    #small-arrow{
        width: 50px;
        height: 42px;
        background: url(sprite_image.png) no-repeat;
        background-position: -988px -885px;
        zoom: 0.4;
    }

    #square-pat{
        width: 35px;
        height: 34px;
        background: url(sprite_image.png) no-repeat;
        background-position: -441px -1022px;
        zoom: 0.5;
    }

    #square-pat:hover{
        width: 35px;
        height: 34px;
        background: url(sprite_image.png) no-repeat;
        background-position: -508px -1023px;
        zoom: 0.5;
        opacity: 1;
    }

    #cross-pat{
        width: 40px;
        height: 35px;
        background: url(sprite_image.png) no-repeat;
        background-position: -376px -952px;
        zoom: 0.5;
    }

    #rect-pat{
        width: 40px;
        height: 36px;
        background: url(sprite_image.png) no-repeat;
        background-position: -452px -951px;
        zoom: 0.5;
    }

    #rect-pat:hover{
        width: 38px;
        height: 37px;
        background: url(sprite_image.png) no-repeat;
        background-position: -528px -951px;
        zoom: 0.5;
    }
    /*First Image Head*/
    .main-content .main-container .main-content-left .img1-head{
        height: 39px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    /*Main Right*/
    .main-content .main-container .main-content-right{
        height: 100rem;
        width: 20%;
        z-index: -1;
    }




